body {
  padding-top: 50px;
}

body div {
  padding-top: 30px;
  text-align: center;
}

.center {
  text-align: center;
}

.lasagna-heading {
  font-family: 'Lobster', 'Lobster Two', sans-serif, cursive;
  color: red;
}

.lasagna-img {
  width: 30%;
  border: 2px solid rgb(240, 91, 5);
}

.eggplant-img {
  width: 30%;
  border: 2px solid rgb(193, 5, 240);
}

.eggplant-heading {
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  color: rgb(193, 5, 240);
}

#recipe-desc {
  padding: 0 100px;
}

#recipe-steps {
  padding: 0 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');
