* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 70px;
  text-align: center;
}

.lasagna-img,
.eggplant-img,
.filet-mignon-img {
  width: 30%;
  height: auto;
}

.lasagna-img {
  border: 2px solid rgb(240, 91, 5);
}

.eggplant-img {
  border: 2px solid rgb(193, 5, 240);
}

.filet-mignon-img {
  border: 2px solid saddlebrown;
}

.recipe-heading,
.lasagna-heading,
.eggplant-heading,
.filet-mignon-heading {
  font-family: cursive, sans-serif;
}

.recipe-heading {
  color: rgba(11, 120, 245, 0.945);
  font-size: 72px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.lasagna-heading {
  color: red;
}

.eggplant-heading {
  color: rgb(193, 5, 240);
}

.filet-mignon-heading {
  color: saddlebrown;
}

#recipe-desc,
#recipe-steps {
  padding: 0 100px;
}

.spacer {
  padding-top: 30px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav form {
  float: left;
  display: block;
  color: #f2f2f23a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
