body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

div > h1 {
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  font-size: 47px;
  color: red;
}

.lasagna-img {
  width: 35%;
  border: 2px solid rgb(240, 91, 5);
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');
